html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 50px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

h2 {
    margin-top: 0px;
}

#sketch-area {
    max-width: 601px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, .1);
    touch-action: none;
}

.sketch-pixel {
    border: 1px solid gray;
    margin: -1px;
    background-color: whitesmoke;
}

#options {
    height: 100%;
}

.settings-block {
    margin-bottom: 3rem;
}

@media screen and (orientation: landscape) {
    main {
        flex-direction: row;
    }   
}

@media screen and (orientation: portrait) {
    main {
        flex-direction: column;
    }
}